    h1 {
        color: red; text-align: center;
    }
    .login_input {
        font-size: 25px;
    }
    #button_login {
        font-size: 25px;
        width: 100px;
        height: 100px;
    }