h1, .main_welcome {
    text-align: center;
}

.main_welcome {
    margin-bottom: 50px;
}

/* .main_item {
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */
 /* main.html에 style 속성을 부여해주었기 때문에 이제 필요없음! */

.card {
    text-align: center;
}

.card_img {
    width: 300px;
    height: 300px;
}

.card_title {
    font-size: 20px;
}

.card_button {
    font-size: 25px;
    width: 150px;
    height: 30px;
}
