* {
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 500px;
    height: 320px;
}

.base {
    width: 200px;
    height: 200px;
    border: 2px dashed #aaa;
    border-radius: 10px;
    background-color: #ddd;
}

.target {
    width: 200px;
    height: 200px;
    background-color: rgba(0, 0, 255,0.5);
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid blue;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.target span {
    color: white;
}

.target1 {
    /* transform: scale(1,0.75) skew(20deg,0deg); */
    transform: scaleY(0.75) skewX(20deg);
}