* {
    box-sizing: border-box;
}

.flex_container {
    height: 300px;
    background-color: bisque;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.flex_container div {
    background-color: white;
    border: 1px solid black;
}

