* {
    box-sizing: border-box;
    margin: 0px;
}

html, body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}

.background {
    width: 540px;
    height: 960px;
    border-radius: 20px;
    border: 1px solid #aacdff;
    background-color: #fff;
    box-shadow: 7px 7px 39px 0px rgba(0, 104, 255, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.title {
    width: 380px;
    font-size: 32px;
    font-weight: 700;
    color: #0068ff;
    padding-bottom: 30px;
}

.info {
    width: 380px;
    height: 60px;
    border-radius: 7px;
    border: 1px solid #d2d2d2;
    background-color: #fff;
    font-size: 18px;
}

.phoneNumber {
    width: 380px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.phoneNumber_input {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #d2d2d2;
    text-align: center;
}

.hyphen {
    width: 11px;
    height: 0px;
    border-top: 1px solid black;
}

.certify {
    width: 380px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}

.certify_1 {
    width: 202px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.certify_2 {
    width: 176px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.certify_button {
    width: 120px;
    height: 40px;
    border-radius: 7px;
    font-size: 16px;
    font-weight: 400;
    color: #0068ff;
    background-color: white;
    border: 1px solid #d2d2d2;
}

.number {
    font-size: 18px;
    font-weight: 400;
    color: #0068ff;
}

.region {
    width: 380px;
    height: 60px;
    border: 1px solid #d2d2d2;
    border-radius: 7px;
    background-color: #fff;
    font-size: 16px;
    font-weight: 400;
    color: #797979;
}

.gender {
    width: 140px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 16px;
    font-weight: 400;

}

.gender_blank {
    width: 20px;
}

.gender_radio {
    width: 20px;
    height: 20px;
}

.divideLine {
    width: 380px;
    border-bottom: 2px solid #d2d2d2;
    
}

.registerButton {
    width: 380px;
    height: 75px;
    border: 1px solid #d2d2d2;
    background-color: white;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    color: #0068ff;
}

.error{
    width: 380px;
    height: 20px;
    font-size: 15px;
    font-weight: 600;
    color: red;
    text-align: center;
}